name: CI

permissions:
  contents: read

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: astral-sh/setup-uv@v6.5.0
    - name: Set up Python
      run: uv python install

    - name: Create and activate virtual environment
      run: |
        uv venv
        echo "VIRTUAL_ENV=$PWD/.venv" >> $GITHUB_ENV
        echo "$PWD/.venv/bin" >> $GITHUB_PATH
    
    - name: Install dependencies
      run: uv pip install -e ".[dev]"
    
    - name: Run tests
      run: pytest --cov wall
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
